---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import About1 from "../assets/about/about1.jpg";
import About2 from "../assets/about/about2.jpg";
import Deck from "../assets/about/deck.png";
import Solution from "../assets/about/solution.svg";
import Impact from "../assets/about/impact.svg";
import Vision from "../assets/about/vision.svg";
import { Icon } from "astro-icon/components";
import Cta from "@components/cta.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About" footerMargin={false}>
  <Container>
    <Sectionhead>
      <Fragment slot="badge">ABOUT YAPBAY</Fragment>
      <Fragment slot="title">Building Financial Freedom</Fragment>
      <Fragment slot="desc">
        YapBay is a Web3 P2P remittances network that enables remittance senders to chain together P2P crypto trades over stablecoin rails, bypassing TradFi limits, to disrupt the legacy remittances industry. Censorship-resistant and KYC-free, YapBay fosters financial inclusion for the world's 2 billion unbanked and underbanked.
      </Fragment>
    </Sectionhead>
    <div class="mt-6 text-center">
      <Link style="outline" size="sm" href="https://static.panmoni.com/yb/yapbay-deck.pdf" target="_blank" rel="noopener">
        See the YapBay deck →
      </Link>
    </div>

    
    <!-- <div class="mt-16 border-y py-6 border-neutral-100">
      <Logos />
    </div> -->

    <div class="grid sm:grid-cols-2 gap-10 mx-auto mt-24">
      <div class="relative">
        <div
          class="absolute hidden md:block w-96 h-96 bg-secondary-300 rounded-full right-0 top-1/3 -z-10">
        </div>
        <div
          class="absolute hidden md:block w-44 h-44 bg-secondary-300 rounded-full left-10 top-1/4 -z-10">
        </div>
        <Picture
          formats={["avif", "webp"]}
          src={About1}
          alt="Happy Team"
          class="rounded-xl w-full max-w-md mx-auto shadow-2xl"
          loading="lazy"
        />
      </div>

      <div class="place-self-center">
        <h2 class="text-5xl text-neutral-800 tracking-tight -mt-2">
          <span class="text-primary-600">Our</span>
          {" "}
          <strong>Mission</strong>
        </h2>
        <p class="text-lg max-w-xl mt-4 leading-relaxed text-neutral-500">
          Our mission is to facilitate access to cryptocurrency for people across the globe, without the need for onerous KYC procedures or the arbitrary limits and opaque reserve status of centralized exchanges.
        </p>
        <p class="text-lg max-w-xl mt-4 leading-relaxed text-neutral-500">
          We are building a peer-to-peer crypto exchange that provides anyone, anywhere with uncensorable, KYC-free, transparent and open-source fiat on-ramps and off-ramps.
        </p>
        <ul class="grid mt-6 text-left gap-y-4">
          <li class="flex items-center gap-3 text-neutral-800">
            <Icon name="ph:check-circle-fill" class="w-5 h-5" />

            <span class="text-neutral-600">Financial Inclusion</span>
          </li>

          <li class="flex items-center gap-3 text-neutral-800">
            <Icon name="ph:check-circle-fill" class="w-5 h-5" />

            <span class="text-neutral-600">Affordable Remittances</span>
          </li>

          <li class="flex items-center gap-3 text-neutral-800">
            <Icon name="ph:check-circle-fill" class="w-5 h-5" />

            <span class="text-neutral-600">Censorship Resistance</span>
          </li>

          <li class="flex items-center gap-3 text-neutral-800">
            <Icon name="ph:check-circle-fill" class="w-5 h-5" />

            <span class="text-neutral-600">Crisis Resilience</span>
          </li>

          <li class="flex items-center gap-3 text-neutral-800">
            <Icon name="ph:check-circle-fill" class="w-5 h-5" />

            <span class="text-neutral-600">Economic Empowerment</span>
          </li>
        </ul>
      </div>
    </div>

    <!-- Problem Section -->
    <div class="mt-24 max-w-4xl mx-auto">
      <h2 class="text-4xl lg:text-5xl lg:tracking-tight text-center">
        The <span class="text-primary-600 font-bold">Problem</span>
      </h2>
      <div class="mt-6 space-y-6 text-neutral-600">
        <p class="text-lg">
          <span class="font-semibold">Expensive Fees</span>: Sub-$200 remittances face high fixed fees, disproportionately affecting smaller transfers to regions like Africa, Southeast Asia and Latin America. Some corridors even face exorbitant fees.
        </p>
        <p class="text-lg">
          <span class="font-semibold">Economic Barriers</span>: These fees hinder families from accessing basic needs, stifling economic growth and participation in their home countries.
        </p>
        <p class="text-lg">
          <span class="font-semibold">Opportunity Limitation</span>: High fees block billions of potential capital flow, preventing economic empowerment, effective capital formation and innovation in developing regions.
        </p>
        <p class="text-lg">
          <span class="font-semibold">ID Exclusion</span>: Over 1 billion lack formal IDs, locking them out of secure global finance and forcing reliance on costly informal channels.
        </p>
        <p class="text-lg">
          <span class="font-semibold">Crisis Fragility</span>: Power outages and unreliable networks cripple remittance access during emergencies, leaving families stranded or at the mercy of predatory providers. 
        </p>
        <p class="text-lg">
          <span class="font-semibold">Global Inequality</span>: At 6.2%, remittance costs in 2023 remain far above the World Bank’s 3% target, highlighting a pressing need for change.
        </p>
        <p class="text-lg">
          <span class="font-semibold">Trapped Capital</span>: TradFi systems block $3.3B+ in potential annual capital flow to Africa alone, stifling entrepreneurship and poverty reduction efforts.
        </p>
      </div>
    </div>



    <!-- Solution Section -->
    <div class="mt-24 max-w-4xl mx-auto">
      <h2 class="text-4xl lg:text-5xl lg:tracking-tight text-center">
        Our <span class="text-primary-600 font-bold">Solution</span>
      </h2>
      <div class="mt-6 space-y-6 text-neutral-600">
        <p class="text-lg">
          YapBay is a LocalBitcoins where remittance senders chain together 2 peer-to-peer trade offers into 1 fiat-in, fiat-out remittance transaction. Behind the scenes, P2P traders use stablecoins as a fast, hassle-free and low-cost transport layer. Remittance senders and receivers use their preferred fiat currencies and avoid any need for immediate onboarding, technical knowledge or exposure to volatility.
        </p>
        <p class="text-lg">
          Remittance senders can also buy basic necessities, such as groceries and medicines, from merchants that are local to their remittance recipients. Often, merchants can deliver these products to the recipients' homes. We call these "combo remittances".
        </p>
      </div>
    </div>

    <!-- Solution illustration -->
    <div class="mt-24 max-w-4xl mx-auto">
      <Picture
            formats={["avif", "webp"]}
            src={Solution}
            alt="YapBay Solution"
            class="rounded-xl w-full max-w-4xl mx-auto shadow-2xl"
            loading="lazy"
          />
    </div>

    <!-- Impact Section -->
    <div class="mt-24 max-w-4xl mx-auto">
      <h2 class="text-4xl lg:text-5xl lg:tracking-tight text-center">
        Our <span class="text-primary-600 font-bold">Impact</span>
      </h2>
      <div class="mt-6 space-y-6 text-neutral-600">
        <p class="text-lg">
          YapBay has the potential to significantly reduce the cost of remittances for millions of people in developing countries, enabling them to send and receive more money to support their families and communities. By driving the adoption of cryptocurrency as a medium of exchange, the project also contributes to the broader goal of financial inclusion and economic empowerment.
        </p>
        <p class="text-lg">
          YapBay addresses the clear need for more accessible, affordable and efficient remittance services in the global financial ecosystem. By leveraging open-source technologies and decentralized infrastructure, YapBay aims to fill the gap in serving the world's unbanked and underbanked population, who are currently underserved by traditional remittance providers due to high fees, limited access and slow transactions.
        </p>
        <p class="text-lg">
          YapBay's impact can extend beyond the direct remittance market. By driving the adoption of cryptocurrency as a medium of exchange and empowering individuals to participate in the global economy on their own terms, YapBay can help unlock trillions of dollars in pent-up capital and stimulate economic growth in underserved regions.
        </p>
      </div>
    </div>

    <!-- Impact illustration -->
    <div class="mt-24 max-w-4xl mx-auto">
      <Picture
            formats={["avif", "webp"]}
            src={Impact}
            alt="YapBay Impact"
            class="rounded-xl w-full max-w-4xl mx-auto shadow-2xl"
            loading="lazy"
          />
    </div>

    <!-- Unique Value Section -->
    <div class="grid sm:grid-cols-2 gap-10 mx-auto mt-24">
      <div class="place-self-center">
        <h2 class="text-5xl text-neutral-800 tracking-tight -mt-2">
          <span class="text-primary-600">Unique</span>
          {" "}
          <strong>Value</strong>
        </h2>
        <p class="text-lg max-w-xl mt-4 leading-relaxed text-neutral-500">
          YapBay has a few characteristics that set it apart from other remittance solutions in the market.
        </p>

        <ul class="grid mt-6 text-left gap-y-4">

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />
          <span class="text-neutral-600">Focus on sub-$200 remittances</span>
        </li>

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />
          <span class="text-neutral-600">Smart-contract-based</span>
        </li>

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />
          <span class="text-neutral-600">Innovative, trustless sequential escrow</span>
        </li>

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />
          <span class="text-neutral-600">No protocol-level KYC/AML</span>
        </li>

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />
          <span class="text-neutral-600">Lower fees and faster than TradFi</span>
        </li>

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />
          <span class="text-neutral-600">Acceptance of users who lack sufficient formal identification</span>
        </li>

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />
          <span class="text-neutral-600">Combo remittances</span>
        </li>

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />
          <span class="text-neutral-600">Based on 4 years of Latam fieldwork</span>
        </li>

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />
          <span class="text-neutral-600">We see the developing world as a business opportunity, not a charity</span>
        </li>

        </ul>
      </div>



      
      <div class="relative">
        <div
          class="absolute hidden md:block w-96 h-96 bg-secondary-300 rounded-full left-0 top-1/3 -z-10">
        </div>
        <div
          class="absolute hidden md:block w-44 h-44 bg-secondary-300 rounded-full right-10 top-1/4 -z-10">
        </div>
        <Picture
          formats={["avif", "webp"]}
          src={About2}
          alt="YapBay Unique Value"
          class="rounded-xl w-full max-w-md mx-auto shadow-2xl"
          loading="lazy"
        />
      </div>
    </div>

    <!-- Progress Section -->
    <div class="mt-24 max-w-4xl mx-auto">
      <h2 class="text-4xl lg:text-5xl lg:tracking-tight text-center">
        Our <span class="text-primary-600 font-bold">Progress</span>
      </h2>
      <div class="mt-6 space-y-6 text-neutral-600">
        <p class="text-lg">
          YapBay is at a pre-seed stage and the development of an MVP should be complete before the end of Q2 2025. We're currently building primarily on <a href="https://celo.org/" target="_blank">Celo L2</a>. We also have an unfinished MVP in Rust on <a href="https://localsolana.com/" target="_blank">Solana</a> devnet. For now, we've shelved plans to deploy on Sui. Ideally, we will identify the single optimal chain for YapBay and focus exclusively on that.
        </p>
        <p class="text-lg">
          From 2018 to 2021, I and my teams performed extensive fieldwork in Latin America educating new crypto users and learning what they want. We did a remittances pilot between Madrid and Caracas in 2019, which was quite popular among Venezuelans in Spain, particular with the combo remittances network we set up across Venezuela. This project benefits from the contact information of about 10,000 people onboarded to crypto during our fieldwork.
        </p>

        <p class="text-lg">
          We're currently building new communities, with a particular focus on Nigeria and Venezuela.
        </p>
      </div>
    </div>

    <!-- Deck Section -->
    <div class="mt-24 max-w-4xl mx-auto text-center">
      <h2 class="text-4xl lg:text-5xl lg:tracking-tight">
        YapBay <span class="text-primary-600 font-bold">Deck</span>
      </h2>
      <p class="text-lg mt-6 text-neutral-600 mb-8">
        <a href="https://static.panmoni.com/yb/yapbay-deck.pdf" target="_blank" class="text-primary-600 hover:underline inline-flex items-center gap-1">
          Download the current YapBay deck <Icon name="ph:arrow-right" class="w-5 h-5" />
        </a>
      </p>
      <div class="max-w-2xl mx-auto overflow-hidden">
        <a href="https://static.panmoni.com/yb/yapbay-deck.pdf" target="_blank">
          <Picture
          formats={["avif", "webp"]}
          src={Deck}
          alt="The YapBay Deck"
          class="rounded-xl w-full max-w-2xl mx-auto shadow-2xl"
          loading="lazy"
        />
        </a>
      </div>
    </div>

        <!-- Public Goods Section -->
        <div class="mt-24 max-w-4xl mx-auto">
          <h2 class="text-4xl lg:text-5xl lg:tracking-tight text-center">
            Our <span class="text-primary-600 font-bold">Accountability</span>
          </h2>
          <div class="mt-6 space-y-6 text-neutral-600">
            <p class="text-lg">
              YapBay ideally aims to sustain itself as a public good in order to better serve our vision. Towards that end, we participate in public goods funding programs and the accountability that naturally accompanies them.
            </p>

            <ul class="grid mt-6 text-left gap-y-4">

              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-neutral-600"><a class="text-primary-600 hover:underline inline-flex items-center gap-1" href="https://gap.karmahq.xyz/project/yapbay-p2p-stablecoin-remittances" target="_blank">Karma GAP</a></span>
              </li>

              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-neutral-600"><a class="text-primary-600 hover:underline inline-flex items-center gap-1" href="https://builder.gitcoin.co/#/chains/42161/registry/0x/projects/0x5392326450ab92f263ce23af5fe0e136e6f2a04efe80e3b669d10bb3581b9e50" target="_blank">Gitcoin Builder</a></span>
              </li>


              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-neutral-600"><a class="text-primary-600 hover:underline inline-flex items-center gap-1" href="https://giveth.io/project/yapbay-p2p-stablecoin-remittances-for-the-global-south" target="_blank">Giveth</a></span>
              </li>

            </ul>

            <p class="text-lg">
              All of our code is, and will remain, open-source under the MIT license. Further, we aim to be community-led and community-governed in order to be fully responsive to the needs of our userbase. Here is a list of code repositories.
            </p>

            <ul class="grid mt-6 text-left gap-y-4">

              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-neutral-600"><a class="text-primary-600 hover:underline inline-flex items-center gap-1" href="https://github.com/Panmoni/yapbay" target="_blank">yapbay (primary repo)</a></span>
              </li>

              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-neutral-600"><a class="text-primary-600 hover:underline inline-flex items-center gap-1" href="https://github.com/Panmoni/yapbay-contracts-solidity" target="_blank">yapbay-contracts-solidity (solidity contracts)</a></span>
              </li>

              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-neutral-600"><a class="text-primary-600 hover:underline inline-flex items-center gap-1" href="https://github.com/Panmoni/yapbay-api" target="_blank">yapbay-api</a></span>
              </li>

              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-neutral-600"><a class="text-primary-600 hover:underline inline-flex items-center gap-1" href="https://github.com/Panmoni/pricing" target="_blank">pricing</a></span>
              </li>

              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-neutral-600"><a class="text-primary-600 hover:underline inline-flex items-center gap-1" href="https://github.com/Panmoni/yapbay-www" target="_blank">yapbay-www (this website)</a></span>
              </li>

              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-neutral-600"><a class="text-primary-600 hover:underline inline-flex items-center gap-1" href="https://github.com/Panmoni/yapbay-contracts-sui" target="_blank">yapbay-contracts-sui (move contracts)</a></span>
              </li>

              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-neutral-600"><a class="text-primary-600 hover:underline inline-flex items-center gap-1" href="https://github.com/Panmoni/yapbay-contracts" target="_blank">yapbay-contracts (gen1 Solidity contracts, obsolete for now)</a></span>
              </li>

              <li class="flex items-center gap-3 text-neutral-800">
                <Icon name="ph:check-circle-fill" class="w-5 h-5" />
                <span class="text-neutral-600"><a class="text-primary-600 hover:underline inline-flex items-center gap-1" href="https://github.com/Panmoni/yapbay-litepaper" target="_blank">yapbay-litepaper (update coming soon)</a></span>
              </li>

            </ul>
          </div>
        </div>

    <!-- Vision Section -->
    <div class="mt-24 max-w-4xl mx-auto">
      <h2 class="text-4xl lg:text-5xl lg:tracking-tight text-center">
        Our <span class="text-primary-600 font-bold">Vision</span>
      </h2>
      
      <p class="text-lg mt-6 text-neutral-600">
        We envision a world of universal prosperity, where every human being has the opportunity to realize their potential. A world where everyone, everywhere, enjoys monetary freedom and can use and create money as they see fit, trading it on a voluntary basis across borders, from anywhere to anywhere and from anyone to anyone. We strive for a world of crypto mass adoption, where everyone has access to prosperity and no one is cut out of the system or left behind.
      </p>
    </div>


    <!-- Vision illustration -->
    <div class="mt-24 max-w-4xl mx-auto">
      <Picture
            formats={["avif", "webp"]}
            src={Vision}
            alt="YapBay Vision"
            class="rounded-xl w-full max-w-4xl mx-auto shadow-2xl"
            loading="lazy"
          />
    </div>

    <!-- Team Section -->
    <div class="mt-24">
      <h2 class="text-4xl lg:text-5xl lg:tracking-tight text-center">
        Our <span class="text-primary-600 font-bold">Team</span>
      </h2>
      <p class="text-lg mt-4 text-neutral-600 text-center">
        YapBay is built by these awesome individuals. Seeking visionary builders to join us! Please reach out, share your skillset, your ideas and interests. Let's see if we can find a fit.
      </p>
    </div>

    <div class="grid md:grid-cols-4 gap-10 mx-auto mt-12">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Picture
                src={teamMemberEntry?.data?.avatar?.src}
                alt={teamMemberEntry?.data?.avatar?.alt || "Team Member"}
                loading="lazy"
                width={400}
                height={400}
                formats={["avif", "webp"]}
                class="w-full h-full object-cover bg-white rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-neutral-800">{teamMemberEntry.data.name}</h2>
              <h3 class="text-sm text-neutral-500">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div>

        <!-- Acknowledgements Section -->
        <div class="mt-24 max-w-4xl mx-auto">
          <h2 class="text-4xl lg:text-5xl lg:tracking-tight text-center">
            Our <span class="text-primary-600 font-bold">Acknowledgments</span>
          </h2>

          <ul class="grid mt-6 text-left gap-y-4">

            <li class="flex items-center gap-3 text-neutral-800">
              <Icon name="ph:check-circle-fill" class="w-5 h-5" />
              Gitcoin Grants 20 (GG20)
            </li>

            <li class="flex items-center gap-3 text-neutral-800">
              <Icon name="ph:check-circle-fill" class="w-5 h-5" />
              Backdrop Build Hackathon v3
            </li>

            <li class="flex items-center gap-3 text-neutral-800">
              <Icon name="ph:check-circle-fill" class="w-5 h-5" />
              The BCH community, most notably Mike Komaransky & Georg Engelmann
            </li>

            <li class="flex items-center gap-3 text-neutral-800">
              <Icon name="ph:check-circle-fill" class="w-5 h-5" />
              The Dash DAO
            </li>

            <li class="flex items-center gap-3 text-neutral-800">
              <Icon name="ph:check-circle-fill" class="w-5 h-5" />
              Photo by <a href="https://unsplash.com/@paulofelipeassis?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Paulo Felipe Assis</a> on <a href="https://unsplash.com/photos/woman-in-white-blazer-holding-iphone-CCtHdZ5zvlU?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
            </li>

          </ul>

       
        </div>

    
  </Container>
  <Cta />
</Layout>
